[Desktop Entry]
Hidden=false
Name=Slavolt
Exec=slavolt
TryExec=slavolt
Icon=org.perezdecastro.Slavolt
Comment=Connect to the Slack chat network
Type=Application
NoDisplay=false
StartupNotify=true
Categories=GNOME;GTK;Network
Terminal=false
X-GNOME-UsesNotifications=true
